@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to My Photos Project</h1>
        <p>This is the final project made for TSP.NET</p>
        <p>Click properties to see all the properties from the data base.</p>
        <p>Click files to see all the files from the data base.</p>
        <p>Click search to search files that have a certain value on a property.</p>
    </div>
